.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    
}

.logo{
    width: 100px;
}

.nav-items>ul{
    display: flex;
    padding: 0px 20px;
    font-size: 24px;
    
}
.nav-items{
    padding: 0px 20px;
    
}
.nav-items>ul>li {
    padding: 10px;
    margin: 10px;

}

.res-card{
    text-align: center;
    border: 1px solid black;
    width: 200px;
    height: 400px;
}

.Search{
    padding: 10px;
}